/*=====General Params=====*/

html {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
}

a {text-decoration: none;}

/*=====Header=====*/
.inner__header__top {background-color: #262626;}
.inner__header__logo > img {padding: 22px 0 12px 0;}

.inner__header__nav__menu {
	list-style-type: none;
	padding-left: 0;
	margin-left: 0;
}

.inner__header__nav__menu > li {display: inline;}

.inner__header__nav__menu > li > a {
	display: inline-block;
	color: #fff;
	padding: 49px 22px 21px 28px;
	text-transform: uppercase;
}

.inner__header__slider {
	background-color: red;
	padding: 0;
}

.inner__header__slider__slide__1 {
	background-image: url('../img/slider/slider_img.jpg');
	background-size: contain;
	height: 522px;
}

.inner__header__slider__slide__1__left__block__info {
	width: 809px;
	height: 522px;
	background: transparent;
  backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	-moz-backdrop-filter: blur(5px);
	-o-backdrop-filter: blur(5px);
	-ms-backdrop-filter: blur(5px);
}

.inner__header__slider__slide__1__left__block__info > article {
	padding: 126px 30px 295px 202px;
	color: #fff;
}

article > h1 {
	font-weight: 700;
	font-size: 48px;
}
article > p {font-size: 24px;}

.inner__header__slider__button {
	border: 2px solid #fff;
	background-color: transparent;
	width: 254px;
	height: 84px;
	padding: 29px 40px;
	font-weight: 700;
	color: #fff;
	margin-top: 99px;
}

.inner__header__slider > .slick-dots {height: 0;}
.slick-dotted.slick-slider {margin-bottom: 0;}
.inner__header__slider > .slick-dots li {
	position: relative;
	bottom: 87px;
	right: 50px;
	border: 1px solid #fff;
	background-color: #fff;
	opacity: 0.7;
	border-radius: 50px;
	width: 12px;
	height: 12px;
}

.inner__header__slider > .slick-dots li.slick-active  {
	border: 1px solid #fff;
	background-color: #fff;
	opacity: 1;
	border-radius: 50px;
	width: 16px;
	height: 16px;
	padding: 2px;
}

#inner__header__my__arrow__right {
	position: relative;
	left: 75%;
	bottom: 85px;
	width: max-content;
}

#inner__header__my__arrow__left {
	position: relative;
	left: 68%;
	bottom: 85px;
	width: max-content;
}
svg > path:hover {
	fill-opacity: 1;
	transition: 0.4s all ease;
}

/*=====Above us=====*/
.above__us {
	margin-top: -43px;
	background-image: url('../img/above_us/pattern.svg');
	background-size: cover;
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}

.inner__above__us__block__1  {
	position: relative;
	left: 50px;
	top: 0;
}
.inner__above__us__block__1 > img {
	width: 1238px;
	height: 837px;
	margin: 108px 190px 156px 179px;
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}

.inner__above__us__block__1__description {
	position: absolute;
	top: 1px;
	left: 859px;
	width: 690px;
	height: 515px;
	background-color:#262626;
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}

.inner__above__us__block__1__description > h2 {
	color: #fff;
	font-size: 36px;
	font-weight: 700;
	padding: 58px 0 8px 203px;
	border-bottom: 3px solid #fff;
	width: 50%;
	text-transform: uppercase;
}

.inner__above__us__block__1__description > p {
	color: #fff;
	font-size: 18px;
	padding: 20px 32px 115px 192px;
}

.inner__above__us__button {
	background-color: transparent;
	border: none;
	width: 154px;
	height: 57px;
	padding: 15px 26px;
	color: #fff;
	-webkit-box-shadow: 2px 2px 15px 13px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 2px 2px 15px 13px rgba(34, 60, 80, 0.2);
	box-shadow: 2px 2px 15px 13px rgba(34, 60, 80, 0.2);
	margin-left: 344px;
	margin-top: -70px;
}

.inner__above__us__block__1__products__and__service {
	position: absolute;
	bottom: 100px;
	left: 2px;
	background-color: #262626;
	width: 1390px;
	height: 459px;
	padding: 0;
}

.inner__above__us__block__1__products__and__service > h2 {
	color: #fff;
	font-size: 36px;
	font-weight: 700;
	margin: 69px 191px 0 -2px;
	padding-bottom: 25px;
	border-bottom: 3px solid #fff;
	width: 80%;
	text-transform: uppercase;
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}

.above__us > .container > .row {margin: 0;}

.inner__above__us__block__1__products__and__service__list {
	display: flex;
	
}

.inner__above__us__block__1__products__and__service__list__1 {
	text-decoration: none;
	color: #fff;
	list-style-type: none;
	padding: 22px 0 0 220px;
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}

.inner__above__us__block__1__products__and__service__list__2 {
	text-decoration: none;
	color: #fff;
	list-style-type: none;
	padding: 23px 1px 0 56px;
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}

.inner__above__us__block__1__products__and__service__list__3 {
	text-decoration: none;
	color: #fff;
	list-style-type: none;
	padding: 23px 543px 0 56px;
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}

.revers {
	margin-top: -33px ;
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}

/*accordion*/
.faq {
    max-width: 690px;
    margin-top: 33px;
}

.faq-item {
	margin-top: -3px;
  margin-bottom: 5px;
	background: #262626;
}

.faq-title {
  display: block;
  padding: 15px 22px;
  position: relative;
  color: #fff;
	cursor: pointer;
	transition: background .2s ease-out;	
}

.faq-title:hover {
  background-color: #0e1f27;
}


.faq-input {
  width: 0;
  height: 0;
  -webkit-appearance: none;
  appearance: none;
	position: absolute;
}

.faq-input:checked ~ .faq-text {
  display: block;
}

.faq-text {
  display: none;
  padding: 10px 15px;
  color: #fff;
  font-size: 14px;
}

/*block 2 of accordion*/
.faq_2{
  max-width: 1390px;
  margin-top: 63px;
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}

.faq-title_2 {
	display: block;
  padding: 15px 22px;
  position: relative;
  color: #fff;
	cursor: pointer;
	transition: background .2s ease-out;
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}

.faq-title_2:hover {
  background-color: #0e1f27;
}/*end accardion part 2*/

/*accordion end

under this comment it's part two of the section above us
*/

.above__us__part_2 {
	background-color: #2E2D2D;
}

.above__us__part_2__down__img {
	position: static;
	left: 0;
	bottom: 0;
}

.above__us__part_2__down__img > img {
	position: relative;
	bottom: 50px;
	left: 0;
}
.above__us__part_2__down__img > p {
	color: #fff;
	font-size: 20px;
	text-transform: capitalize;
	margin-bottom: 54px;
}

.above__us__part_2__under_down_img__bgcolor {
	background: url('../img/above_us/pattern.svg');
}

.above__us__part_2__under_down_img__1 {
	background: url('../img/above_us/under_down_img_1.jpg') center  no-repeat  ;
	 background-size: cover;
	 width: 392px;
	 height: 238px;
	 -webkit-box-shadow: 1px 2px 30px -2px rgba(0, 0, 0, 0.48);
-moz-box-shadow: 1px 2px 30px -2px rgba(0, 0, 0, 0.48);
box-shadow: 1px 2px 30px -2px rgba(0, 0, 0, 0.48);
}

.above__us__part_2__under_down_img__2  {
	background: url('../img/above_us/under_down_img_2.jpg') center  no-repeat;
	 background-size: cover;
	-webkit-box-shadow: 1px 2px 30px -2px rgba(0, 0, 0, 0.48);
-moz-box-shadow: 1px 2px 30px -2px rgba(0, 0, 0, 0.48);
box-shadow: 1px 2px 30px -2px rgba(0, 0, 0, 0.48);
}

.above__us__part_2__under_down_img__3  {
	background: url('../img/above_us/under_down_img_3.jpg') center  no-repeat;
	 background-size: cover;
	 -webkit-box-shadow: 1px 2px 30px -2px rgba(0, 0, 0, 0.48);
-moz-box-shadow: 1px 2px 30px -2px rgba(0, 0, 0, 0.48);
box-shadow: 1px 2px 30px -2px rgba(0, 0, 0, 0.48);
}

.above__us__part_2__under_down_img__4 {
	background: url('../img/above_us/under_down_img_4.jpg') center  no-repeat;
	 background-size: cover;
	 -webkit-box-shadow: 1px 2px 30px -2px rgba(0, 0, 0, 0.48);
-moz-box-shadow: 1px 2px 30px -2px rgba(0, 0, 0, 0.48);
box-shadow: 1px 2px 30px -2px rgba(0, 0, 0, 0.48);
}

.above__us__part_2__under_down_img__5 {
	background: url('../img/above_us/under_down_img_5.jpg') center  no-repeat;
	 background-size: cover;
	  width: 392px;
	 height: 238px;
	 -webkit-box-shadow: 1px 2px 30px -2px rgba(0, 0, 0, 0.48);
-moz-box-shadow: 1px 2px 30px -2px rgba(0, 0, 0, 0.48);
box-shadow: 1px 2px 30px -2px rgba(0, 0, 0, 0.48);
}

.above__us__part_2__under_down_img__6 {
	background: url('../img/above_us/under_down_img_6.jpg') center  no-repeat;
	 background-size: cover;
	 -webkit-box-shadow: 1px 2px 30px -2px rgba(0, 0, 0, 0.48);
-moz-box-shadow: 1px 2px 30px -2px rgba(0, 0, 0, 0.48);
box-shadow: 1px 2px 30px -2px rgba(0, 0, 0, 0.48);
}

.above__us__part_2__under_down_img__7 {
	background: url('../img/above_us/under_down_img_7.jpg') center  no-repeat;
	 background-size: cover;
	 -webkit-box-shadow: 1px 2px 30px -2px rgba(0, 0, 0, 0.48);
-moz-box-shadow: 1px 2px 30px -2px rgba(0, 0, 0, 0.48);
box-shadow: 1px 2px 30px -2px rgba(0, 0, 0, 0.48);
}

.above__us__part_2__under_down_img__8 {
	background: url('../img/above_us/under_down_img_8.jpg') center  no-repeat;
	 background-size: cover;
	 -webkit-box-shadow: 1px 2px 30px -2px rgba(0, 0, 0, 0.48);
-moz-box-shadow: 1px 2px 30px -2px rgba(0, 0, 0, 0.48);
box-shadow: 1px 2px 30px -2px rgba(0, 0, 0, 0.48);
}

/*=====Services=====*/
.inner__srvices__blick_1 {
	position: static;
	left: 0;
	top: 0;
}

.inner__srvices__blick_1__img_1 {
	position: relative;
	left: 388px;
	top: -252px;
	background: url('../img/services/img_1.jpg') center  no-repeat;
	background-size: cover;
	height: 380px;
	width: 80%;
	padding: 0;
	z-index: -99;
​​​}

.inner__services__block_1__title {
	position: relative;
	left: 74px;
	top: 100px;
	height: 77px;
	background-color: #2C2B2B;
}

.inner__services__block_1__title::after {
	content: ''; 
    position: absolute; /* Абсолютное позиционирование */
    left: -80px; 
		bottom: -2px;
    border: 20px solid transparent; /* Прозрачные границы */
    border: 40px solid transparent;
		border-right: 40px solid #2C2B2B;
}

.inner__services__block_1__title > h2 {
	color: #fff;
  font-size: 36px;
  font-weight: 700;
  border-bottom: 3px solid #fff;
  width: 80%;
  text-transform: uppercase;
	padding: 16px 256px 0 21px;
	margin-left: 35px;
	}

	.inner__service__block__img_2 {
		position: relative;
	left: 400px;
	bottom: 230px;
	background: url('../img/services/img_2.jpg') center  no-repeat;
	background-size: cover;
	height: 380px;
	width: 79%;
	padding: 0;
	z-index: -99999;
	}

	.inner__services__block_2 {
		display: flex;
		justify-content: space-between;
		position: relative;
		top: -220px;
		right: 0;
		padding: 0;
	}

	.inner__services__block_2 > img {
		z-index: -500;
		width: 79%;
	}
	/*rererere*/

	.rightbox {
	position: absolute;
	top: -15px;
	left: 800px;
	height: 341px;
	width: 0;
	vertical-align:top;
	background: #F5C519;
	z-index: -100;
	display:inline-block;
	overflow: hidden;
	clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.inner__right__box__content{
position:absolute;
left:180px;
top:0;
color: #2F2E2E;
height: 144px;
width: 458px;
}

.inner__right__box__content > P {
	margin-top: 38px;
}

.leftbox {
	position: absolute;
	border: 1px solid #2C2B2B;
	background: #2C2B2B;
	color: #fff;
	height: 344px;
	width: 823px;
	margin-top: 50px;
}

.leftbox > p {
	font-size: 20px;
	margin-top: 62px;
	margin-left: 195px;
	width: 500px;
}
/**/
.leftbox_1 {
	position: absolute;
	border: 1px solid #2C2B2B;
	background: #2C2B2B;
	color: #fff;
	height: 344px;
	width: 823px;
	margin-top: -100px;
}

.leftbox_1 > p {
	font-size: 20px;
	margin-top: 62px;
	margin-left: 195px;
	width: 500px;
}

	.rightbox_1 {
	position: absolute;
	top: -165px;
	left: 800px;
	height: 341px;
	width: 0;
	vertical-align:top;
	background: #F5C519;
	z-index: -100;
	display:inline-block;
	overflow: hidden;
	clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.leftbox_2 {
	position: absolute;
	border: 1px solid #2C2B2B;
	background: #2C2B2B;
	color: #fff;
	height: 344px;
	width: 823px;
	margin-top: -100px;
}

.leftbox_2 > p {
	font-size: 20px;
	margin-top: 62px;
	margin-left: 195px;
	width: 500px;
}

	.rightbox_2 {
	position: absolute;
	top: -165px;
	left: 800px;
	height: 341px;
	width: 0;
	vertical-align:top;
	background: #F5C519;
	z-index: -100;
	display:inline-block;
	overflow: hidden;
	clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.leftbox_3 {
	position: absolute;
	border: 1px solid #2C2B2B;
	background: #2C2B2B;
	color: #fff;
	height: 344px;
	width: 823px;
	margin-top: -100px;
}

.leftbox_3 > p {
	font-size: 20px;
	margin-top: 62px;
	margin-left: 195px;
	width: 500px;
}

	.rightbox_3 {
	position: absolute;
	top: -165px;
	left: 800px;
	height: 341px;
	width: 0;
	vertical-align:top;
	background: #F5C519;
	z-index: -100;
	display:inline-block;
	overflow: hidden;
	clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

#img__block4 {
	margin-bottom: -350px;
}
/**/

.inner__leftbox__title {
	display: flex;
}

.inner__leftbox__title > h2 {
	display: initial;
	font-size: 64px;
	margin-left: 64px;
	border-right: 3px solid #fff;
}

.inner__leftbox__title > p {
	margin-left: 61px;
	font-size: 30px;
	font-weight: 700;
	width: 300px;
}

.holdingbox {
	display: flex;
	margin-top: -65px;
}

.inner__right__block__orange {
	height: 500px;
	width: 500px;
	right: 0;
	z-index: 9999;
}



#triangle-right {
	position: absolute;
	left: 0;
	bottom: -10px;
	width: 0;
	height: 0;
	border-top: 180px solid transparent;
	border-left: 158px solid #F5C519;
	border-bottom: 176px solid transparent;
	margin-left: 100%;
	margin-top: 0;
	z-index: -5;
	padding: 0;
}

.triangle__right__darck {
	position: absolute;
	left: -162px;
	top: -175px;
	width: 0;
	height: 0;
	border-top: 173px solid transparent;
	border-left: 150px solid #2C2B2B;
	border-bottom: 173px solid transparent;
	margin-left: 150%;
	margin-top: 0;
	z-index: -155;
	padding: 0;
}

.triangle__right__darck > img {
	margin-left: -87px;
	margin-top: -25px;
	padding: 0;
}
	/*End  services*/

/*=====Products=====*/
.products {
position: relative;
margin-bottom: 75px;
}


.inner__production__descripsen {
	position: absolute;
	top: -45px;
	left: 0;
	width: 907px;
	height: 295px;
	background: #262626;
	color: #fff;
	padding: 0;
	z-index: -999;
}

.inner__production__descripsen > h2 {
	font-size: 36px;
	font-weight: 700;
	border-bottom: 3px solid #fff;
	width: 30%;
	padding-left: 130px;
	margin-top: 15px;
}

.inner__production__descripsen > p {
	padding: 36px 94px 23px 197px;
}

.inner__production__list {
	margin-top: 210px;
	margin-left: -70px;
	z-index: 1;
}

.inner__production__list_2 {
	margin-top: 40px;
}

.inner__prodaction__card {
	margin-bottom: 20px;
	margin-left: 26px;
}

#cement__img {margin-top: -6px;}

.inner__card__img{
	background: #F2F2F2;
	text-align: center;
	-webkit-box-shadow: 0px 0px 29px -11px rgba(34, 60, 80, 0.28) inset;
-moz-box-shadow: 0px 0px 29px -11px rgba(34, 60, 80, 0.28) inset;
box-shadow: 0px 0px 29px -11px rgba(34, 60, 80, 0.28) inset;
}

.inner__card__img > img {
	margin: 18px 0;
}

.card__img__furnitura {
	background: #fff;
}


.inner__subtitle__card {
	margin-left: 25%;
	margin-top: 38px;
	padding: 14px;
	width: 173px;
	color: #333;
	background: #F2F2F2;
	text-align: center;
-webkit-box-shadow: 0px 0px 29px -2px rgba(34, 60, 80, 0.28);
-moz-box-shadow: 0px 0px 29px -2px rgba(34, 60, 80, 0.28);
box-shadow: 0px 0px 29px -2px rgba(34, 60, 80, 0.28);
}

#button__under__img {
	margin-left: 25%;
	margin-top: 47px;
	padding: 14px;
}

.subtitle__card__furnitura {
	margin-top: 65px;
}

#vedro__supraten {
	width: 80%;
	height: 80%;
	margin-left: 40px;
}

/*=====End Products=====*/
/*=====Vacansion*/

.inner__vacansion__topblock {
	position: relative;
}

.title__of__section{
	border-bottom: 3px solid #333;
	width: 20%;
	height: 40px;
}

.title__of__section > h2 {
	font-weight: 700;
	margin-left: 202px;
}

.inner__vacansion__top__description {
	position: absolute;
	right: 0;
	top: 0;
	display: flex;
	flex-direction: column;
	background: #F5C519;
	width: 924px;
}

#top__title {
	font-size: 24px;
	font-weight: 700;
	margin-top: 60px;
	margin-left: 32px;
}

#sub__title {
	width: 616px;
	margin-left: 32px;
	margin-bottom: 32px;
}


.inner__vacansion__image {
	position: relative;
	z-index: -9999;
	margin-left: -320px;
	margin-top: 41px;
}

.inner__vacansion__image__img {
	margin-top: 20px;
}


.for__flip__card {
	position: absolute;
	bottom: -60%;
	display: flex;
	justify-content: space-between;
	z-index: 99999;
	margin-top: 0;
}

.for__flip__card_2 {
	position: absolute;
	bottom: -122%;
	display: flex;
	justify-content: space-between;
	z-index: 99999;
	margin-top: 0;
}
/*card flip*/

.flip-card {
  background-color: transparent;
  width: 394px;
  height: 586px;
  perspective: 1000px; 
	margin-left: 30px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #2E2D2D;
  color: black;
}

.flip-card-front > h2 {
	color: #fff;
	font-weight: 700;
	padding: 152px 42px 30px 41px;
	text-align: left;
}

.flip-card-front > p {
	color: #fff;
	padding: 0 41px 5px 41px;
	text-align: left;
}

.flip-card-back {
  background-color: #F5C519;
  color: white;
  transform: rotateY(180deg);
}

.flip-card-front > svg  {
	margin: 0 18px 0 270px;
}

.flip-card-back > p {
	color: #2E2D2D ;
	text-align: left;
	padding: 15px 14px  0 74px;
}

/*end card flip*/

/*=====Footer=====*/
.footer {
	background: #2C2B2B;
}

.inner__footer__block_1 {
	position: relative;
	left: 0;
	bottom: 0;
}

.inner__footer__img {
	margin-top: 27px;
}

.inner__line__footer {
	position: absolute;
	left: 160px;
	top: 0;
	background: #fff;
	height: 2px;
	width: 1385px;
	margin-top: 63px;
}

.inner__footer__contacts {
	color: #fff;
	font-weight: 300;
	font-size: 18px;
	text-decoration: none;
}

.inner__footer__title {
	margin-top: 35px;
	margin-bottom: 19px;
	font-size: 24px;
	text-transform: capitalize;
	color: #fff;
}

.inner__footer__contacts__list {
	list-style-type: none;
	text-align: start;
	padding: 0;
}

.inner__footer__contacts__list > li > a {color: #fff;}
.inner__footer__contacts__list > li > a:hover {color: #7d9e1c;}

.inner__footer__callback > h2 {margin-top: 30px;}

input {
	outline: none;
	border: none;
	background: transparent;
	margin-top: 5px;
	margin-bottom: 8px;
	width: 70%;
	border-bottom: 1px solid #fff;
}

input[type="submit"] {
	width: 154px;
	height: 57px;
	padding: 11px 22px;
	color: #fff;
	-webkit-box-shadow: 2px 2px 15px 13px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 2px 2px 15px 13px rgba(34, 60, 80, 0.2);
	box-shadow: 2px 2px 15px 13px rgba(34, 60, 80, 0.2);
	margin-top: 15px;
}

input[type="submit"]:hover {
	background: #0e1f27;
	transition: background .2s ease-out;
}

.inner__footer__callback > p {
	color: #fff;
	font-size: 11px;
}

.inner__footer__map > iframe {margin-top: 30px;}

.inner__footer__map__social__links {
	width: 1.7em;
  height: 1.7em;
  border-radius: 50%;
	text-align: center;
	margin: 5px 18px 0 1px;
}

.fb {
	background:#4E6297;
	border: 1px solid #4E6297;
}

.inst {
	background: linear-gradient(43.94deg, #EEA054 16.16%, #D64763 50.11%, #B62A99 83.68%);
	border: 1px solid linear-gradient(43.94deg, #EEA054 16.16%, #D64763 50.11%, #B62A99 83.68%);
}

.google {
	background:#C5331E;
	border: 1px solid #C5331E;
}

.whatsApp {
	background: #48C95F;
	border: 1px solid #48C95F;
}

.viber {
	background: #7C509A;
	border: 1px solid #7C509A;
}

.inner__footer__map > p {
	color: #fff;
	font-size: 10px;
	margin-top: 18px;
}